* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: linear-gradient(to right, #d9d9d9 0%, #7d1609 100%);
    height: 10vh;
}

.btn_home {
   
    

    color: #572C28;
    text-decoration: none;
}

.btn_gallery {
  
    

    color: #572C28;
    text-decoration: none;
}

.btn_sale {
   
    

    color: #572C28;
    text-decoration: none;
}

.btn_aboutus {   
    width: 9vh;
    color: #572C28;
    text-decoration: none;
}

.btn_subscribe {

    color: #572C28;
    text-decoration: none;
}

.btn_news {
    
  

    color: #572C28;
    text-decoration: none;
}


#carrinho {
stroke: #DAA29A;
position: absolute;
right: 100px;
bottom: 26px;
}


header{display: flex;
padding: 30px;
gap: 300px;
align-items: center;
position: relative;
}

nav{display: flex;
gap: 40px;}

#pesquisa{display: inline-block;
padding: 10px;
border-radius: 50vh;
border: none;}

.lista-escondida{position: fixed;
width: 300px;
right: -300px;
top: 0;
bottom: 0;
background-color: #7d1609;
}

body{height: 90vh;}

#check{position: absolute;
right: 110px;
bottom: 35px;
transform: scale(3);
z-index: 1;
opacity: 0;
cursor: pointer;
}

#check:checked + .lista-escondida{
    margin-right: 300px;
    
} 


h1 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 560px;
  }
  
  
  .produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px 20px;
  }
  
  .produto {
    background-color: #DAA29A;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .produto:hover {
    transform: scale(1.05);
  }
  
  .produto img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  
  .produto h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f0f0f0;
  }
  
  .preco-antigo {
    text-decoration: line-through;
    color: #bbb;
  }
  
  .preco-novo {
    color: #572C28;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #572C28;
    color: #DAA29A;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #7d1609;
  }
  
  #espaco {margin-top: 100px;}