* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: linear-gradient(to right, #d9d9d9 0%, #7d1609 100%);
    height: 10vh;
}

.btn_home {
   
    

    color: #572C28;
    text-decoration: none;
}

.btn_gallery {
  
    

    color: #572C28;
    text-decoration: none;
}

.btn_sale {
   
    

    color: #572C28;
    text-decoration: none;
}

.btn_aboutus {   
    width: 9vh;
    color: #572C28;
    text-decoration: none;
}

.btn_subscribe {

    color: #572C28;
    text-decoration: none;
}

.btn_news {
    
  

    color: #572C28;
    text-decoration: none;
}


#carrinho {
stroke: #DAA29A;
position: absolute;
right: 100px;
bottom: 26px;
}


header{display: flex;
padding: 30px;
gap: 300px;
align-items: center;
position: relative;
}

nav{display: flex;
gap: 40px;}

#pesquisa{display: inline-block;
padding: 10px;
border-radius: 50vh;
border: none;}

.lista-escondida{position: fixed;
width: 300px;
right: -300px;
top: 0;
bottom: 0;
background-color: #7d1609;
}

body{height: 90vh;}

#check{position: absolute;
right: 110px;
bottom: 35px;
transform: scale(3);
z-index: 1;
opacity: 0;
cursor: pointer;
}

#check:checked + .lista-escondida{
    margin-right: 300px;
    
} 


.container {
  background-color: #7d1609;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

h1 {
  text-align: center;
  color: #DAA29A;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 25px;
  color: white;
}

.formulario-contato label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f0f0f0;
}

.formulario-contato input,
.formulario-contato textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #DAA29A;
  color: white;
  font-size: 14px;
}

.formulario-contato input::placeholder,
.formulario-contato textarea::placeholder {
  color: #7d1609;
}

button {
  width: 100%;
  background-color: #DAA29A;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7d1609;
}
